{% extends "base.html" %}

{% block content %}
<div id="notepad-content">
	<h1> Notepad </h1>

	{% for ind, note in notepad.notes.items() %}
		<h2> {{ ind}} : {{ note }} </h2>
	{% endfor %}

	<div id="notepad-add">
		<form action="" method="POST">
			{{ form.hidden_tag() }}

			<h3 style="text-align: center"> {{ form.text.label }} </h3>
			{{ form.text(id="notepad-text", rows=4) }}
			<br/>
			
			{{ form.submit(id="notepad-submit") }}

			<!-- <input type="text" name="new"/>
			<input type="submit" name=""> -->
		</form>
	</div>
</div>

{% endblock %}
