{% extends "base.html" %}

{% block content %}

	<div id="menu">
            <div class="square1">
                <img src="{{ url_for('static', filename='img/ano2.jpg') }}" />

            </div>
            <div class="square1">
                <a href="{{ url_for('notepad.home') }}"> <img src="{{ url_for('static', filename='img/c64.png') }}" /> </a>
            </div>
            <div style="clear: both"> </div>
            <div class="square2">
                square2
            </div>
            <div class="square2">
                square2
            </div>
            <div style="clear: both"> </div>

        </div>

{% endblock %}